<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanRoute</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/route_style.css">
    <link rel="stylesheet" href="../public/css/nav_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- The callback parameter is required, so we use console.debug as a noop -->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfUPGHaXcReDGYzfJBcwg-ODw-nOtGU78&libraries=maps,marker&callback=debug.log&v=beta"></script>
    <!-- The searchMap() function must be called after the map has already been loaded in -->
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfUPGHaXcReDGYzfJBcwg-ODw-nOtGU78&libraries=places&callback=searchMap&v=beta"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="../public/js/tripToggle.js"></script>
    
    

</head>
<body>
    <nav class="taskBar">
        <div class="navContainer d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div class="logo">
                    <a href="home.html" class="taskBarButton ml-auto" style="font-size:larger"><img src="../public/images/new_foxridelogo.png" alt="FoxRide Logo" class="small-logo"></a>
                </div>
                <h1>
                <a href="home.html" class="taskBarButton ml-auto" style="font-size:larger">FOXRIDE</a>

                </h1>
            </div>
            <div>
                <a href="home.html" class="taskBarButton ml-auto">Home</a>
                <a href="tripView.html" class="taskBarButton ml-auto">Trip</a>
                <a href="profile.html" class="taskBarButton ml-auto">Profile</a>
                <a href="login.html" class="taskBarButton ml-auto">Login</a>
                <a href="signup.html" class="taskBarButton ml-auto">SignUp</a>
        </div>
        </div>
    </nav>
    <div class="main">
        
        <div class="main_container">
            <div class="main_content">
                <h1>Request View</h1>

            </div>
        </div>
    </div>


    <div class="mapBox">
        <gmp-map center="41.72314453125,-73.93447875976562" zoom="14" map-id="DEMO_MAP_ID" id="tripMap">
            <gmp-advanced-marker position="41.72314453125,-73.93447875976562" title="My location">
            </gmp-advanced-marker>
        </gmp-map>

    </div>

    <div class="tripTitle">
        <p class="tripLabel"> Request Information</p>
    </div>

    <div class="tripBox">
        <p class="tripLabel">Start Destination</p>
        <div id="tripStart">
            <select id="tripDropDown" name="startLocation" class="tripDropDown">
                <option>A</option>
                <Option>B</Option>
            </select>
        </div>
    </div>

    <div class="tripSwap">
        <button name="swapButton" id="1" onclick="swapLocations()"><img src="../public/images/swapButton.png"></button>
    </div>

    <div class="tripBox">
        <p class="tripLabel">End Destination</p>
        <div id="tripEnd">
            <input type="text" id="tripSearchBar" name="endLocation"  class="tripSearchBar">
        </div>
    </div>

    <div class="tripBox" style="margin-top: 10px;">
        <p class="tripLabel">Start Time</p>
        <div id="tripTime">
            <input type="text" id="startTime" name="time"  class="tripSearchBar">
        </div>
    </div>

    <div class="tripBox" style="margin-top: 10px;">
        <p class="tripLabel">Estimated Distance</p>
        <div class="statLabel">
            <p id="estDist">~0000.00mi</p>
        </div>
        <p class="tripLabel">Estimated Time</p>
        <div class="statLabel">
            <p id="estTime">~0 hours, 0 minutes</p>
        </div>
    </div>

    <div class="proceedButton">
        <button onclick="location.href='tripView.html'">Request Trip</button>
    </div>

</body>
</html>